.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --color-text: #faf3dd;
  --color-accent: #ffa69e;
  --color-primary: #b8f2e6;
  --color-dark: #aed9e0;
  --color-bg: #5e6472;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

body {
  margin: 0;
  background-color: #ffa69e;
}

h1 {
  margin-left: 40px;
  padding: 30px;
  color: var(--color-text);
}

.page-des {
  margin-left: 50px;
  color: var(--color-text);
  font-size: 1.25rem;
}
/* //////// STYLING FOR THE NAVBAR //////////// */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  padding: 24px;
}

.right-nav {
  display: flex;
}

.link {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary);
}

/* ///////////// STYLING FOR THE CARDS IN PORTFOLIO /////////// */
.card-container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
}

.card-body {
  display: flex;
  flex-direction: column;
  border: 4px solid var(--color-primary);
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  margin: 10%;
  padding: 8px;

  background-color: var(--color-bg);
  width: 275px;
  max-height: 350px;
}

.card-title {
  color: var(--color-primary);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
}

.card-text {
  color: var(--color-text);
  font-size: 0.85rem;
  padding: 0px 8px 10px 8px;
}

.btn.btn-primary {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 0.85rem;
}

.btn.btn-primary:hover {
  color: var(--color-accent);
}

.card-img {
  border-top-left-radius: 35px;
  width: auto;
  height: 100px;
}

/* ///////////// STYLING FOR ABOUT ME SECTION //////////////////////// */
.aboutme-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  margin: 0 10%;
}

.aboutme-p {
  background-color: var(--color-bg);
  color: var(--color-primary);
  padding: 24px;
  height: fit-content;
  border-radius: 20px;
  width: 50%;
  line-height: 1.5rem;
}

.profile-pic {
  max-width: 20%;
  height: auto;
  border: 8px dashed var(--color-dark);
  border-radius: 100px;
}

/* /////////// STYLING FOR CONTACT SECTION FORM /////////////// */
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  margin-top: 24px;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: var(--color-dark);
}

.contact-form div {
  margin-top: 1rem;
}

.contact-form label {
  font-size: 1.5rem;
  color: var(--color-text);
}

.status-msg {
  color: var(--color-text);
  text-align: center;
  margin-top: 4px;
}
